
#Load configuration app/config/env/example.env
# SetEnv APP_ENV example 
# SetEnv APP_ENV local 
SetEnv APP_ENV demo 
# SetEnv APP_ENV staging 
# SetEnv APP_ENV production 

<IfModule mod_rewrite.c>
RewriteEngine  On
RewriteCond  %{REQUEST_FILENAME}  -s  [OR]
RewriteCond  %{REQUEST_FILENAME}  -l  [OR]
RewriteCond  %{REQUEST_FILENAME}  -d
RewriteRule  ^.*$  -  [NC,L]
RewriteRule  ^.*$  index.php  [NC,L]
</IfModule>

